$mono: Consolas, Monaco, monaco, monospace;
$serif: Palatino, Times New Roman, times, serif;
$sans: Helvetica Neue, Helvetica, helvetica, arial, sans-serif;
$font-size: 20px;

body, p {
	font-size: $font-size;
	line-height: 135%;
	font-family: $serif;
	color: $dark;
}