$button-size: 35px;
$transition: .10s; // increase this to see the transformations in slow-motion
$color: $dark;
#nav-bar {
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	#nav-bar-inner {
max-width: 1000px;
		margin: 0 auto;
	}
}
#nav {
	margin-top: $button-size/3 + 20px;
	margin-right: $button-size/2 + 20px;
	float: right;
	line-height: $button-size;
	z-index: 1;
}
.lines-button {
	display: inline-block;
	transition: $transition;
	cursor: pointer;
	user-select: none;
	border-radius: $button-size/7;
	&:hover {
		opacity: 1;
	}
	&:active {
		transition: 0;
	}
}
@mixin line {
	display: inline-block;
	width: $button-size;
	height: $button-size/7;
	background: $color;
	border-radius: $button-size/14;
}
.lines {
	//create middle line
	@include line;
	position: relative;
	/*create the upper and lower lines as pseudo-elements of the middle line*/
	
	&:before, &:after {
		@include line;
		position: absolute;
		left: 0;
		content: '';
		transform-origin: $button-size/14 center;
	}
	&:before {
		top: $button-size/4;
	}
	&:after {
		top: -$button-size/4;
	}
}
.lines-button.x .lines {
	transition: background $transition $transition*2 ease;
	&:before, &:after {
		//set transform origin back to center
		transform-origin: 50% 50%;
		transition: top $transition $transition*2 ease, transform $transition ease;
	}
}
#nav.close .lines-button.x {
	.lines {
		transition: background $transition 0s ease;
		background: transparent;
		&:before, &:after {
			transition: top $transition ease, transform $transition $transition*1.5 ease;
			top: 0;
			width: $button-size;
		}
		&:before {
			transform: rotate3d(0, 0, 1, 45deg);
		}
		&:after {
			transform: rotate3d(0, 0, 1, -45deg);
		}
	}
}
#nav-menu {
	-webkit-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.25);
	-moz-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.25);
	box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.25);
	transition: opacity $transition ease,
		top $transition ease,
		font-size $transition ease;
	opacity: 0.0;
	position: absolute;
	right: 41px;
	top: 65px;
	font-size: 18px;
	border: 1px solid darken($grey, 25%);
	background-color: #fff;
	font-family: $sans;
	padding: 7px 0;
	ul {
		margin: 0;
		padding: 0;
		a {
			font-weight: normal;
			li {
				transition: width $transition ease;
				width: 80px;
				text-align: center;
				margin: 0;
				padding: 0;
				list-style-type: none;
				padding: 3px 25px;
			}
		}
	}
}
#nav-menu.show {
	opacity: 1.0;
	top: 75px;
	ul a li {
		width: 100px;
	}
	font-size: 19px;
}
@media screen and (max-width: 719px) {
	#nav-bar {
		background-color: $dark;
		border-bottom: 1px solid $dark;
	}
	#nav-menu {
		right: 0;
		top: 74px;
		border-color: darken($dark, 10%);
		border-top: none;
		border-right: none;
		background-color: $dark;
		li {
			color: #fff;
			font-weight: 300;
			font-size: 18px;
			&:hover, &:active {
				color: darken(#fff, 20%);
			}
		}
		ul a li {
			width: 100px;
		}
		&.show {
			top: 84px;
		}
	}
	#nav {
		color: #fff;
		margin-top: $button-size/3 + 10px;
		margin-right: $button-size/2 + 10px;
		.lines, .lines:after, .lines:before {
			background-color: #fff;
		}
	}
}
